openapi: 3.1.0
info:
  title: Google Cloud Compute Engine Disks Images API
  description: 'REST API for managing virtual machines, disks, networking, load balancing,

    and related Compute Engine resources on Google Cloud Platform. This spec

    covers a representative subset of v1 resources. Full canonical machine

    spec is the Google Discovery Document at

    https://compute.googleapis.com/$discovery/rest?version=v1.

    '
  version: v1
  contact:
    name: Google Cloud Compute Engine Documentation
    url: https://cloud.google.com/compute/docs/reference/rest/v1
servers:
- url: https://compute.googleapis.com/compute/v1
  description: Production
security:
- oauth2:
  - https://www.googleapis.com/auth/compute
  - https://www.googleapis.com/auth/cloud-platform
- bearerAuth: []
tags:
- name: Images
  description: VM images
paths:
  /projects/{project}/global/images:
    parameters:
    - $ref: '#/components/parameters/Project'
    get:
      tags:
      - Images
      summary: List images
      operationId: listImages
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/MaxResults'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: Image list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Image'
components:
  parameters:
    PageToken:
      name: pageToken
      in: query
      schema:
        type: string
    MaxResults:
      name: maxResults
      in: query
      schema:
        type: integer
        default: 500
    Project:
      name: project
      in: path
      required: true
      description: Project ID
      schema:
        type: string
    Filter:
      name: filter
      in: query
      schema:
        type: string
  schemas:
    Image:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        family:
          type: string
        sourceType:
          type: string
        status:
          type: string
        diskSizeGb:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/compute: Manage Compute Engine resources
            https://www.googleapis.com/auth/cloud-platform: View and manage all Google Cloud resources
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
